<<<<<<< HEAD
.form-control {
  &[type='file'] {
    &::-webkit-file-upload-button {
      background-color: transparent;
    }
  }
  &:hover {
    &:not(:disabled):not([readonly])::-webkit-file-upload-button {
      background-color: transparent;
    }
  }
}
=======
.form-control {
  &[type='file'] {
    &::-webkit-file-upload-button {
      background-color: transparent;
    }
  }
  &:hover {
    &:not(:disabled):not([readonly])::-webkit-file-upload-button {
      background-color: transparent;
    }
  }
}
>>>>>>> remotes/origin/master
